<nav class="">
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" data-activates="side" class="button-collapse show-on-small left">
                <i class="material-icons">memu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li class="active">
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Users</a>
                </li>
                <li>
                    <a href="#">Apointments</a>
                </li>
                <li>
                    <a href="#">Pets</a>
                </li>
                <li>
                    <a href="#">Homes</a>
                </li>
            </ul>
        <!-- SIDE NAV to come -->
        <!-- DASHBOARD BEGINS -->
        
        </div>
    </div>
</nav>
<script src="/js/admin/init.js"></script>

