<form class="Pet" action="/registration" method="POST">
    <div class="form-group">
        <label for="name" > Pet Name </label>
        <input type="text" class="form-control" id="name" placeholder="Rex" name="">
    </div>
    <div class="form-group">
        <label for="type" > Type </label>
        <input type="text" class="form-control" id="type" placeholder="Poop Monster" name="">
    </div>
    <div class="form-group">
        <label for="breed" > Breed </label>
        <input type="text" class="form-control" id="breed" placeholder="Poop Monster" name="">
    </div>
    <div class="form-group">
        <label for="age" >  Age </label>
        <input type="number" class="form-control" id="age" placeholder="" name="">
    </div>
    <div class="form-group">
        <label for="allergies" > Alergies </label>
        <input type="text" class="form-control" id="allergies" placeholder="" name="">
    </div>
    <div class="form-group">
        <label for="medication" > Medecation(s) </label>
        <input type="text" class="form-control" id="medication" placeholder="" name="">
    </div>
    <div class="form-group">
        <label for="health_issues" > Health Issue(s) </label>
        <input type="text" class="form-control" id="health_issues" placeholder="" name="">
    </div>
    <div class="form-group">
        <label for="feeding_instructions" > Feeding Instructions </label>
        <input type="text" class="form-control" id="feeding_instructions" placeholder="" name="">
    </div>
    <div class="form-group">
        <label for="vet_clinic_name" > Veterinary Clinic  </label>
        <input type="text" class="form-control" id="vet_clinic_name" placeholder="" name="">
    </div>
    <div class="form-group">
        <label for="vet_first_name" > Veterinarian First Name  </label>
        <input type="text" class="form-control" id="vet_first_name" placeholder="" name="">
    </div>
    <div class="form-group">
        <label for="vet_last_name" > Veterinarian Last Name  </label>
        <input type="text" class="form-control" id="vet_last_name" placeholder="" name="">
    </div>
    <div class="form-group">
        <label for="clinic_phone" > Clinic Phone  </label>
        <input type="tel" class="form-control" id="clinic_phone" placeholder="" name="">
    </div>
    <!-- Visit # AUTO INC -->
    <button id="submit" class="btn btn-primary float-right">Submit</button>
</form>