<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger modalBtn" href="#modal2">Learn More About Sam</a>

<!-- Modal Structure -->
<div id="modal2" class="modal">
    <div class="modal-content">
        <h4>SAM</h4>
        <p>
            Samantha Hopper: ​Samantha has over 5 years experience with dogs and cats. She discovered her interest in caring for animals
            and started pet sitting as a homeschooled student in early 2012, and later started Samantha's Pet Care in March
            of 2015. ​Samantha currently works part time at Paws To Claws Vet Care in Magnolia, Tx as a patient care advocate,
            and wants to become a vet tech in the future. ​A couple activities she enjoys are horseback riding and spending
            time outdoors during the spring/summer.
        </p>

        <p>
            Marsha Hopper: ​Marsha (Samantha's mother) has a very calm and gentle nature with animals. She has several years experience
            assisting with our furry clients, and especially enjoys cuddling with kitty cats and taking dogs on long walks.
            Marsha is happily a stay at home homemaker and pet care provider. In her free time, her favorite activity is
            reading books.
        </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>