<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/styles/materialize.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

  <title>Home Page</title>
</head>

<body>
  <nav class="green lighten-2" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo"><img src="/images/logo.png"  alt="Smiley face" style="margin:5px"></a>
      
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="#">Login</a>
        </li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li>
          <a href="#">Login</a>
        </li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
    </div>
  </nav>

  {{{body}}}

  <footer class="page-footer  green darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4" id="teambio" style="text-align: justify">We've been taking care of pets and homes since 2015. We offer dog boarding, pet care services, and house-sitting to fit your schedule! Our aim is to treat every pet like family and give you have peace of mind that your pet and home are being well cared for while you're away.</p>


        </div>
        <div class="col l3 s12"></div>
        <div class="col l3 s12">
          <h5 class="white-text">Manage</h5>
          <ul>
            <li>
              <a class="white-text" href="/admin">Business Dashboard</a>
            </li>
            <li>
              <a class="white-text" href="/api/datacenter">Data Migration</a>
            </li>
            {{!-- <li>
              <a class="white-text" href="#!">Link 3</a>
            </li>
            <li>
              <a class="white-text" href="#!">Link 4</a>
            </li> --}}
          </ul>
        </div>
        {{!-- <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li>
              <a class="white-text" href="#!">Link 1</a>
            </li>
            <li>
              <a class="white-text" href="#!">Link 2</a>
            </li>
            <li>
              <a class="white-text" href="#!">Link 3</a>
            </li>
            <li>
              <a class="white-text" href="#!">Link 4</a>
            </li>
          </ul>
        </div> --}}
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by
        <a class="orange-text text-lighten-3" href="https://github.com/bonnie-bee/project-2-group-2">Project-2-Group-2</a>
      </div>
    </div>
  </footer>

</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/materialize.js"></script>
<!-- Index was from starter code?
<script src="/js/index.js"></script>
-->
<script src="/js/init.js"></script>
<script src="/js/papaparse.min.js"></script>
<script src="/js/parse.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>

</html>
