
<div class="container">
    <h3 class="header orange-text">About Sam</h3>
    <div class="row"></div>
 
    <ul class="collection">
    <li class="collection-item avatar">
      <img src="/images/sam.jpg" alt="" class="circle">
      <span class="title">SAM AND CO</span>
      <p>Samantha Hopper: ​Samantha has over 5 years experience with dogs and cats. She discovered her interest in caring for animals
    and started pet sitting as a homeschooled student in early 2012, and later started Samantha's Pet Care in March of 2015.
    ​Samantha currently works part time at Paws To Claws Vet Care in Magnolia, Tx as a patient care advocate, and wants to
    become a vet tech in the future. ​A couple activities she enjoys are horseback riding and spending time outdoors during
    the spring/summer. <br> <br>
          Marsha Hopper: ​Marsha (Samantha's mother) has a very calm and gentle nature with animals. She has several years experience
    assisting with our furry clients, and especially enjoys cuddling with kitty cats and taking dogs on long walks. Marsha
    is happily a stay at home homemaker and pet care provider. In her free time, her favorite activity is reading books. <br> <br>
      Abby Lou Hopper: ​Abby The Tabby is a gray tabby who was found as a stray kitten in 2010. She is very friendly and affectionate to
    everyone she meets, but she is also a sassy tabby when she wants to be!
      </p>
     
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">location_on</i>
      <span class="title">Location</span>
      <p>Hockley, Tx 77447, not far off of Nichols Sawmill Rd between Magnolia and Waller.  From Tomball you would follow 2920 to Roberts Cemetery Rd.<br>
      </p>
     
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red ">mode_comment</i>
      <span class="title">Text Me At</span>
      <p>832-441-2884 <br>
      </p>
      
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle orange">email</i>
      <span class="title">Email Me At</span>
      <p>samanthaspetcareservice@gmail.com <br>
      </p>
      
    </li>
  </ul>
  <div class="row"></div>
     <div class="row"></div>

{{> meetForm}}
<div class="row"></div>
     <div class="row"></div>

</div>





