<h4>SAM AND CO</h4>
<p>
    Samantha Hopper: ​Samantha has over 5 years experience with dogs and cats. She discovered her interest in caring for animals
    and started pet sitting as a homeschooled student in early 2012, and later started Samantha's Pet Care in March of 2015.
    ​Samantha currently works part time at Paws To Claws Vet Care in Magnolia, Tx as a patient care advocate, and wants to
    become a vet tech in the future. ​A couple activities she enjoys are horseback riding and spending time outdoors during
    the spring/summer.
</p>

<p>
    Marsha Hopper: ​Marsha (Samantha's mother) has a very calm and gentle nature with animals. She has several years experience
    assisting with our furry clients, and especially enjoys cuddling with kitty cats and taking dogs on long walks. Marsha
    is happily a stay at home homemaker and pet care provider. In her free time, her favorite activity is reading books.
</p>

<P>
    Abby Lou Hopper: ​Abby The Tabby is a gray tabby who was found as a stray kitten in 2010. She is very friendly and affectionate to
    everyone she meets, but she is also a sassy tabby when she wants to be!
</P>

<h4>Contact Us</h4>

<p>​We are located in Hockley, Tx 77447, not far off of Nichols Sawmill Rd between Magnolia and Waller.  From Tomball you would follow 2920 to Roberts Cemetery Rd.
</p>​
<p>
Please contact us with any questions and/or service requests, and we will respond as soon as we can. 
​Note: there may or may not be a slight delay in response to your enquiry. We apologize in advance for any delays, and request your patience as we definitely look forward to hearing from you!
</p>​
<p>
​Email us: samanthaspetcareservice@gmail.com
​<br>
​Text Samantha: 832-441-2884</p>

{{> meetForm}}