<div class="container">

<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>




<section class="section section-stats center">
    <div class="row">
        <div class="col 13 m11 s12">
            <div class="card-panel">
            <form class="user" action="/registration" method="POST">
            <i class="material-icons prefix">account_circle</i>
            <form class="user" action="/api/user" method="POST">
                <div class="form-group">
                    
                    <label for="firstName" > First Name </label>
                    <input type="text" class="form-control" id="firstName" placeholder="" name="">
                </div>
                <i class="material-icons prefix">account_circle</i>
                <div class="form-group">
                    <label for="lastName" > Last Name </label>
                    <input type="text" class="form-control" id="lastName" placeholder="" name="">
                </div>
                <i class="material-icons prefix">phone</i>
                <div class="form-group">
                    <label for="cellNumber" > Cell Phone Number </label>
                    <input type="tel" class="form-control" id="cellNumber" placeholder="" name="">
                </div>
                <i class="material-icons prefix">mail</i>
                <div class="form-group">
                    <label for="emailAddress" > Email:  </label>
                    <input type="email" class="form-control" id="emailAddress" placeholder="" name="">
                </div>
                <i class="material-icons prefix">account_circle</i>
                <div class="form-group">
                    <label for="userName" > User Name:  </label>
                    <input type="text" class="form-control" id="userName" placeholder="" name="">
                </div>
                <!-- UNTIL WE ALLOW USERS TO CREATE OWN PW
                <div class="form-group">
                    <label for="pw" > Password  </label>
                    <input type="password" class="form-control" id="userName" placeholder="" name="">
                </div>
                <div class="form-group">
                    <label for="pw" > Re-Type Password  </label>
                    <input type="password" class="form-control" id="userNameCheck" placeholder="" name="">
                </div>
                -->
                <button id="submitUser" class="btn btn-primary float-right">Submit</button>
            </form>
            </div>
        </div>
    </div>
<script type="text/javascript" src="/js/userForm.js"></script>
</section>
<br>
<br>
<br>
<br>




</div>
            
        