<div class="container">
<h3 class="header orange-text">House Sitting</h3>



<ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">home</i>Overnight Stay/Full Day</div>
      <div class="collapsible-body"><span>$50 a day</span><br> <br>

</div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">home</i>Partial Day</div>
      <div class="collapsible-body"><span>$40 a day</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">home</i>Payments</div>
      <div class="collapsible-body"><span>PayPal <br>  Google Wallet ​<br> Square Cash <br> Money Gram ​<br> Cash ​<br> Check (Must be paid at least 3 weeks prior to service) <br> ​Note: We request payment up front and prior to our services.</span></div>
    </li>
  </ul>
<div class="row"></div>
<div class="row"></div>
{{> meetForm}}
  </div>

  <div class="row"></div>
  <div class="row"></div>
    <div class="row"></div>
  <div class="row"></div>
    <div class="row"></div>
  <div class="row"></div>
    <div class="row"></div>
  <div class="row"></div>
    <div class="row"></div>
  <div class="row"></div>
    <div class="row"></div>
  <div class="row"></div>
    <div class="row"></div>
  <div class="row"></div>
    <div class="row"></div>
  <div class="row"></div>
    <div class="row"></div>
  <div class="row"></div>
  



{{!-- <h3>I'm a map!</h3>
<h4>(one day I'll be a map)</h4> --}}


