<h1>HOUSE THINGS</h1>

<h3>Overnight Stay/Full Day</h3>
<p>$50 a day</p>

<h3>Partial Day</h3>
<p>$40 a day</p>

<h3>I'm a map!</h3>
<h4>(one day I'll be a map)</h4>

<h3>
    Payments
</h3>

<p>
    Payment methods we accept:
​
* PayPal
​* Google Wallet
​* Square Cash
* Money Gram
​* Cash 
​* Check (Must be paid at least 3 weeks prior to service)

​Note: We request payment up front and prior to our services. Thank you!
</p>

{{> meetForm}}