{{!-- ----PROVIDED STARTER CODE --- --}}
{{!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div> --}}
{{!-- ----PROVIDED STARTER CODE END --- --}}

<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Register/Login</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Register/Login</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Samantha's Pet Care</h1>
      <div class="row center">
        <h5 class="header col s12 light">A one stop shop for all your pet care needs!!</h5>
      </div>
      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
      {{!-- <br><br> --}}

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          {{!--
          <div class="icon-block">
            <h2 class="center light-blue-text">
              <i class="material-icons">flash_on</i>
            </h2>
            <h5 class="center">Speeds up development</h5>
        
            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally,
              we refined animations and transitions to provide a smoother experience for developers.</p>
          </div> --}}
          <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/generic.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Our Business
                <i class="material-icons right">more_vert</i>
              </span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Our Business
                <i class="material-icons right">close</i>
              </span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
               <p>
                <a href="#">Read More..</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
           <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/pets.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Pets
                <i class="material-icons right">more_vert</i>
              </span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Pet Care Facility
                <i class="material-icons right">close</i>
              </span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
               <p>
                <a href="#">Register your pet</a>
              </p>
            </div>
          </div>

          {{!-- <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div> --}}
        </div>

        <div class="col s12 m4">
              <div class="card hoverable">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/home.jpg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Homes
                <i class="material-icons right">more_vert</i>
              </span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Pet Care at Home 
                <i class="material-icons right">close</i>
              </span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
               <p>
                <a href="#">Register your home</a>
              </p>
            </div>
          </div>

          {{!-- <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div> --}}
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="https://github.com/bonnie-bee/project-2-group-2">Project-2-Group-2</a>
      </div>
    </div>
  </footer>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/index.js"></script>
