<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br>
    <br>
    <h1 class="header center orange-text">Samantha's Pet Care</h1>
    <div class="row center">
      <h5 class="header col s12 light">A one stop shop for all your pet care needs!!</h5>
    </div>



  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">

        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/generic.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Pet Sitting
              <i class="material-icons right">more_vert</i>
            </span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">At Our House Or Yours!
              <i class="material-icons right">close</i>
            </span>
            <p>We offer a variety of pet siting services:</p>
            <ul> 
              <li>In-Home Dog Boarding</li>
              <li>Full Pet Care Visit</li>
              <li>Midday Check In Visit</li>
            </ul>
            <p>
              <a class="waves-effect waves-light btn" href="/petpricing">Learn More</a>

            </p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/sam.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">About Sam
              <i class="material-icons right">more_vert</i>
            </span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">I'm Sam!
              <i class="material-icons right">close</i>
            </span>
            <p style="text-align: justify">We've been taking care of pets and homes since March 2015. We offer dog boarding, pet care services, and house-sitting
              to fit your schedule! Our aim is to treat every pet like family and give you have peace of mind that your pet
              and home are being well cared for while you're away.</p>
            <p>
              <a class="waves-effect waves-light btn" href="/aboutme">Learn More</a>

            </p>
          </div>
        </div>


      </div>

      <div class="col s12 m4">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/home.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">House Sitting
              <i class="material-icons right">more_vert</i>
            </span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Taking Care of Your House
              <i class="material-icons right">close</i>
            </span>
            <p style="text-align: justify">We take care of your home with anything from bringing in your mail and watering your plants to full overnight
              stays to moniter the property while you're gone.</p>
            <p>
              <a class="waves-effect waves-light btn" href="/homepricing">Learn More</a>

            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row center">
      <a href="/formUser" id="download-button" class="btn-large waves-effect waves-light orange">Register</a>
    </div>
  </div>
  <br>
  <br>
</div>