
<div class="container">
<h3 class="header orange-text">PET PRICING</h3>



<ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">pets</i>In Home Dog Boarding</div>
      <div class="collapsible-body"><span>$15 ​per day ​We accept small/med breed dogs 40lbs and under ​Additional dogs per family: ​$10 ​per day ​ ​Puppy rate: $25/day. $10 per additional puppy.<br> <br>

Board your pet with us where they will enjoy a relaxed and stress-free stay in the comfort of our home! ​We will treat your fur baby like one of our own, giving them lots of attention. And you will receive photos and updates from us so you can see how they are doing and how much fun they are having! Whether your going on vacation, traveling for work/business, or just going out for an evening and need one night boarding, let us provide great care and TLC for your fur babies!</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">pets</i>Full Pet Care Visit</div>
      <div class="collapsible-body"><span>$16 per visit ​Price is for 1-2 pets. within 5 miles of our location. ​ ​Over 5 miles from us: $20 ​per visit ​More than 2 pets per visit: ​$2 per additional pet each visit <br> <br>

Leave your pet in the comfort of their own home while your away and let us come to them! ​We will come to your home to care for your animals and give them lots of love, hugs and playtime while your out of town. We will also send you photo updates at each visit to give you the peace of mind that your pet is being well cared for. Our full pet care visit service includes: * feeding and give fresh water ​* let doggies out in backyard to potty ​* scoop kitty litter boxes ​* bring in mail and any packages on front porch</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">pets</i>Midday Potty Break / Check-In Visit</div>
      <div class="collapsible-body"><span>$16 ​per visit ​Within 5 miles of our location. ​5-10 miles from us: $18 per visit <br> <br>
If your working long hours or going to be out for the day, we offer midday or afternoon visits to come by and let your doggies out to potty when you are unable to. We will allow them about 30 minutes of outdoor time to stretch their legs and enjoy some playtime if they would like! You'll get to see your dog having fun while your at work with photo updates we send at each visit! ​We also do basic cat care visits to just check-in on your kitty and make sure they have food generally every second day while your out of town.</span></div>
    </li>
     <li>
      <div class="collapsible-header"><i class="material-icons">pets</i>Overnight Stay/Full Day</div>
      <div class="collapsible-body"><span>$75 a day</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">pets</i>Payments</div>
      <div class="collapsible-body"><span >PayPal <br>  Google Wallet ​<br> Square Cash <br> Money Gram ​<br> Cash ​<br> Check (Must be paid at least 3 weeks prior to service) <br> ​Note: We request payment up front and prior to our services.</span></div>
    </li>
  </ul>


{{!-- <h3>I'm a map!</h3>
<h4>(one day I'll be a map)</h4> --}}

<div class="row"></div>


{{> meetForm}}

<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div><div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>

</div>