.list-group-item {
  line-height: 2.5;
}
.circle {
  width: 20px;
  height: 20px;
}
.scroll-box {
    overflow-y: scroll;
    height: 300px;
    padding: 1rem
}
.funky {
  overflow-y: scroll;
  height: auto;
  padding: 1rem
}
.profile {
  width: 100px;
  height: auto;
}